.tw-followCard {
    color: #fff;
    display: flex;
    font-size: .8rem;
    align-items: center;
    justify-content: space-between;
}

.tw-followCard-header {
    gap: 4px;
    display: flex;
    align-items: center;
}

.tw-followCard-info {
    display: flex;
    flex-direction: column;
}

.tw-followCard-infoUserName {
    opacity: 0.6;
}

.tw-followCard-avatar {
    width: 48px;
    height: 48px;
    border-radius: 100%;
}

.tw-followCard-button {
    border: 0;
    cursor: pointer;
    padding: 6px 16px;
    margin-left: 16px;
    font-weight: bold;
    border-radius: 999px;
    border: 1px solid #000;
    transition: .3s ease background-color;
}

.tw-followCard-text {
    display: block;
}

.tw-followCard-button.is-following {
    width: 140px;
    color: #eff3f4;
    background: transparent;
    border: 1px solid #bbb;
}

.tw-followCard-button:hover {
    opacity: 0.9;
}

.tw-followCard-button.is-following:hover {
    color: rgb(244, 33, 46);
    border-color: rgb(103, 7, 15);
    background-color: rgba(244, 33, 46, 0.1);
}

.tw-followCard-stopFollow {
    display: none;
}

.tw-followCard-button.is-following:hover .tw-followCard-text {
    display: none;
}

.tw-followCard-button.is-following:hover .tw-followCard-stopFollow {
    display: block;
}