.tw-followCard {
    color: #fff;
    display: flex;
    font-size: .8rem;
    align-items: center;
    justify-content: space-between;
}

.tw-followCard-header {
    gap: 4px;
    display: flex;
    align-items: center;
}

.tw-followCard-info {
    display: flex;
    flex-direction: column;
}

.tw-followCard-infoUserName {
    opacity: 0.6;
}

.tw-followCard-avatar {
    width: 48px;
    height: 48px;
    border-radius: 100%;
}

.tw-followCard-button {
    border: 0;
    cursor: pointer;
    padding: 6px 16px;
    margin-left: 16px;
    font-weight: bold;
    border-radius: 999px;
    border: 1px solid #000;
    transition: .3s ease background-color;
}

.tw-followCard-button.is-following {
    border: 1px solid red;
}

.tw-followCard-button:hover {
    background-color: #09f;
    transition: .3s ease background-color;
}

.tw-followCard-button.is-following:hover {
    background-color: red;
}